.header {
  background-color: var(--primary-white-color);
  border: 1px solid #ececec;
}

.main-nav {
  display: flex;
  align-items: center;
}

.nav {
  &__list {
    display: flex;
    margin-left: 93px;
    color: var(--title-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;

    & .nav__item:not(:last-child) {
      margin-right: 50px;
    }
  }

  &__item {
    position: relative;
  }
}

.nav__link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--title-text-color);
  transition: color var(--anim);

  &--current::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 4px;

    background: var(--accent-color);
    border-radius: 2px;
  }

  .nav__list &:hover,
  .nav__list &:focus {
    color: var(--accent-color);
  }
}

.current {
  color: var(--accent-color);
}

/*Хедер-контакты*/
.auth-nav {
  display: flex;
  margin-left: auto;

  &__item:last-child {
    margin-left: 50px;
  }

  &__icon {
    margin-right: 10px;
    fill: currentColor;
  }

  &__contacts {
    display: flex;
    align-items: center;
    color: var(--primary-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;

    transition: color var(--anim);

    &:hover,
    &:focus {
      color: var(--accent-color);
    }
  }
}
